<form (ngSubmit)="AddMedicamentoToHist()" >
  <!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="Medicamento" aria-label="Medicamento" formControlName="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let med of filteredOptions | async" [value]="med.id_prod">
        <span>{{ med.nom_prod }}</span> |
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->

  <mat-tab-group>
      <mat-tab label="Historial">  
  <br>
    <div class="row">
      <div class="col col-sm-3">
          <mat-form-field style="width: 200px">
              <mat-select placeholder="Medicamento" name="medicamentos" [(value)]="insumoPaciente.id_prod" name="listMx">
                <mat-option *ngFor="let med of medicamentos | async" [value]="med.id_prod">
                  {{med.nom_prod}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>

<div class="col col-sm-3">
  <mat-form-field>
      <input matInput type="text" placeholder="Dosificacion" name="dosis" [(ngModel)]="insumoPaciente.dosis" >
    </mat-form-field>
  
</div>
<div class="col col-sm-3">
    <mat-form-field>
        <!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> -->

        <input matInput  type="date" placeholder="Hora Dosificacion" [(ngModel)] = "insumoPaciente.hora" name="hora">
      </mat-form-field>

</div>
<div class="col col-sm-3">

  <button class="btn btn-primary" type="submit" >Guardar</button>
</div>

    </div>

    <div class="row">        
            <mat-table [dataSource]="dataSource" style="width: 90%">
              <ng-container matColumnDef="id_prod">
                <mat-header-cell *matHeaderCellDef> Medicamento </mat-header-cell>
                <mat-cell *matCellDef="let med"> {{med.id_prod}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="dosis">
                <mat-header-cell *matHeaderCellDef> Dosis </mat-header-cell>
                <mat-cell *matCellDef="let med"> {{med.dosis}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="hora">
                <mat-header-cell *matHeaderCellDef> Hora </mat-header-cell>
                <mat-cell *matCellDef="let med"> {{med.hora}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          
    </div>  
  <br />
</mat-tab>
<mat-tab label="General">General</mat-tab>
</mat-tab-group>
  
</form>