  
  <mat-tab-group>
      <mat-tab label="Historial">  
          <form (submit)="AddMedicamentoToHist()" >          
          <br>
      
          <div class="example-container">
              
           

          <mat-form-field>
              <mat-select placeholder="Medicamento" name="medicamentos" [(value)]="insumoPaciente.id_prod" name="listMx">
                <mat-option *ngFor="let med of medicamentos | async" [value]="med.id_prod">
                  {{med.nom_prod}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      

      
        <mat-form-field>
        
          <input matInput type="text" placeholder="Dosificacion" name="dosis" [(ngModel)]="insumoPaciente.dosis" >
          </mat-form-field>
        
      
      
          <mat-form-field>
              <input matInput  type="time" placeholder="Hora Dosificacion" [(ngModel)] = "insumoPaciente.hora" name="hora">
            </mat-form-field>

          </div>
      

        <button class="btn btn-primary" type="submit" value="Guardar">Guardar</button>
      

    

  </form>
    <div>                   

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th >Producto</th>
                    <th scope="col">Dosis</th>
                    <th scope="col">Hora</th>
                    <th scope="col"></th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hist of historial | async"> 
                    <td>{{hist.id_prod}}</td>
                    <td>{{hist.dosis}}</td>
                    <td>{{hist.hora}}</td>
                    <td><input type="button" class="btn btn-danger" (click) = "DeleteMedicPaciente(hist.id_MedxSeg)" value="Borrar"></td>                   
                  </tr>
                  
                </tbody>
              </table>
          
    </div>  
  <br />
</mat-tab>
<mat-tab label="General">
  <div class="form-group">


      
    
       
          
          <div>
            Piel Integral
            <mat-slide-toggle class="flex-sm-row-reverse"></mat-slide-toggle><br></div>
        
        
        
          <div class="example-container" >
            <mat-form-field >
              <mat-select [(value)]="PercepcionSelected" placeholder="Percepcion Sensorial">
                <mat-option>None</mat-option>
                <mat-option value="1">Completamente Limitado</mat-option>
                <mat-option value="2">Muy limitado</mat-option>
                <mat-option value="3">Levemente Limitado</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
       
        
        
          <div class="example-container">
            <mat-form-field >
              <mat-select [(value)]="PercepcionSelected" placeholder="Exposicion a la humedad">
                <mat-option>None</mat-option>
                <mat-option value="1">Excesivamente Humeda</mat-option>
                <mat-option value="2">Muy humeda</mat-option>
                <mat-option value="3">Ocasionalmente humedo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="example-container" >
              <mat-form-field >
                <mat-select [(value)]="PercepcionSelected" placeholder="Actividad">
                  <mat-option>None</mat-option>
                  <mat-option value="1">Completamente Inmovil</mat-option>
                  <mat-option value="2">Confinado a silla</mat-option>
                  <mat-option value="3">camina Ocasionalmene</mat-option>
                  <mat-option value="3">camina Frecuentemente</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field >
                  <mat-select [(value)]="PercepcionSelected" placeholder="Movilidad">
                    <mat-option>None</mat-option>
                    <mat-option value="1">Completamente Inmovil</mat-option>
                    <mat-option value="2">Muy Limitado</mat-option>
                    <mat-option value="3">Levemente limitado</mat-option>
                    <mat-option value="3">Ninguna Limitacion</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
         
       
     
      
      
  
  </div>
    
  </mat-tab>
  
</mat-tab-group>

