  
  <mat-tab-group>
      <mat-tab label="Historial">  
          <form (submit)="AddMedicamentoToHist()" >          
          <br>
      
          <div class="example-container">
              
           

          <mat-form-field>
              <mat-select placeholder="Medicamento" name="medicamentos" [(value)]="insumoPaciente.id_prod" name="listMx">
                <mat-option *ngFor="let med of medicamentos | async" [value]="med.id_prod">
                  {{med.nom_prod}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      

      
        <mat-form-field>
        
          <input matInput type="text" placeholder="Dosificacion" name="dosis" [(ngModel)]="insumoPaciente.dosis" >
          </mat-form-field>
        
      
      
          <mat-form-field>
              <input matInput  type="time" placeholder="Hora Dosificacion" [(ngModel)] = "insumoPaciente.hora" name="hora">
            </mat-form-field>

          </div>
      

        <button class="btn btn-primary" type="submit" value="Guardar">Guardar</button>
      

    

  </form>
    <div>                   

            <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th >Producto</th>
                    <th scope="col">Dosis</th>
                    <th scope="col">Hora</th>
                    <th scope="col"></th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hist of historial | async"> 
                    <td>{{hist.medicamento.nom_prod}}</td>
                    <td>{{hist.dosis}}</td>
                    <td>{{hist.hora}}</td>
                    <td>
                      <button mat-icon-button color="warn" (click) = "DeleteMedicPaciente(hist.id_MedxSeg)">
                        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                      </button>
                    </td>              
                  </tr>
                  
                </tbody>
              </table>
          
    </div>  
  <br />
</mat-tab>
<mat-tab label="General">
  <br>
    <div class={{ThemeBraden}} role="alert">
        {{MsgBradenTheme}}
      </div>
  <div class="form-group">
          <div>
            Piel Integral
            <mat-slide-toggle class="flex-sm-row-reverse"></mat-slide-toggle><br></div>
        
        
        
          <div class="example-container" >
            <mat-form-field >
              <mat-select [(value)]="PercepcionSelected" (change)="onSelectChange($event)" placeholder="Percepcion Sensorial">
                <mat-option value="0">None</mat-option>
                <mat-option value="1">Completamente Limitado</mat-option>
                <mat-option value="2">Muy limitado</mat-option>
                <mat-option value="3">Levemente Limitado</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
       
        
        
          <div class="example-container">
            <mat-form-field >
              <mat-select [(value)]="HumedadSelected" (change)="onSelectChange($event)" placeholder="Exposicion a la humedad">
                <mat-option value="0">None</mat-option>
                <mat-option value="1">Excesivamente Humeda</mat-option>
                <mat-option value="2">Muy humeda</mat-option>
                <mat-option value="3">Ocasionalmente humedo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="example-container" >
              <mat-form-field >
                <mat-select [(value)]="ActividadSelected" (change)="onSelectChange($event)" placeholder="Actividad">
                  <mat-option value="0">None</mat-option>
                  <mat-option value="1">Completamente Inmovil</mat-option>
                  <mat-option value="2">Confinado a silla</mat-option>
                  <mat-option value="3">camina Ocasionalmene</mat-option>
                  <mat-option value="4">camina Frecuentemente</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field >
                  <mat-select [(value)]="MovilidadSelected" (change)="onSelectChange($event)" placeholder="Movilidad">
                    <mat-option value="0">None</mat-option>
                    <mat-option value="1">Completamente Inmovil</mat-option>
                    <mat-option value="2">Muy Limitado</mat-option>
                    <mat-option value="3">Levemente limitado</mat-option>
                    <mat-option value="4">Ninguna Limitacion</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field >
                  <mat-select [(value)]="NutricionSelected" (change)="onSelectChange($event)" placeholder="Nutricion">
                    <mat-option value="0">None</mat-option>
                    <mat-option value="1">Deficiente</mat-option>
                    <mat-option value="2">Inadecuada</mat-option>
                    <mat-option value="3">Adecuada</mat-option>
                    <mat-option value="4">Excelente</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field >
                  <mat-select [(value)]="FriccionSelected" (change)="onSelectChange($event)" placeholder="Friccion y Cizallamiento">
                    <mat-option value="0">None</mat-option>
                    <mat-option value="1">Requiere maximo cuidado</mat-option>
                    <mat-option value="2">Requiere minimo cuidado</mat-option>
                    <mat-option value="3">Sin problema aparente</mat-option>                    
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Comentario" name="comentario" [(ngModel)] = "comment"></textarea>
                  </mat-form-field>
            </div>
  </div>
    
  </mat-tab>

  <mat-tab label="Barthel">
    <div class="form-group">
     
      <div class="example-container" >
        <mat-form-field >
          <mat-select [(value)]="showerSelected" (change)="onSelectChange($event)" placeholder="Banarse">
            <mat-option value="0">Incapaz de hacerlo</mat-option>
            <mat-option value="1">Intenta pero inseguro</mat-option>
            <mat-option value="3">Alguna Ayuda</mat-option>
            <mat-option value="4">Minima Ayuda</mat-option>
            <mat-option value="5">Independiente</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
   
    
    
      <div class="example-container">
        <mat-form-field >
          <mat-select [(value)]="ComerSelected" (change)="onSelectChange($event)" placeholder="Comer">
            <mat-option value="0">Incapaz de hacerlo</mat-option>
            <mat-option value="2">Intenta pero inseguro</mat-option>
            <mat-option value="5">Alguna Ayuda</mat-option>
            <mat-option value="8">Minima Ayuda</mat-option>
            <mat-option value="10">Independiente</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="example-container" >
          <mat-form-field >
            <mat-select [(value)]="retreteSelected" (change)="onSelectChange($event)" placeholder="Uso del retrete">
              <mat-option value="0">Incapaz de hacerlo</mat-option>
              <mat-option value="2">Intenta pero inseguro</mat-option>
              <mat-option value="5">Alguna Ayuda</mat-option>
              <mat-option value="8">Minima Ayuda</mat-option>
              <mat-option value="10">Independiente</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field >
              <mat-select [(value)]="escalerasSelected" (change)="onSelectChange($event)" placeholder="Uso de escaleras">
                <mat-option value="0">Incapaz de hacerlo</mat-option>
                <mat-option value="2">Intenta pero inseguro</mat-option>
                <mat-option value="5">Alguna Ayuda</mat-option>
                <mat-option value="8">Minima Ayuda</mat-option>
                <mat-option value="10">Independiente</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field >
              <mat-select [(value)]="VestirseSelected" (change)="onSelectChange($event)" placeholder="Vestirse">
                <mat-option value="0">Incapaz de hacerlo</mat-option>
                <mat-option value="2">Intenta pero inseguro</mat-option>
                <mat-option value="5">Alguna Ayuda</mat-option>
                <mat-option value="8">Minima Ayuda</mat-option>
                <mat-option value="10">Independiente</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field >
              <mat-select [(value)]="DeposicionSelected" (change)="onSelectChange($event)" placeholder="Deposicion">
                <mat-option value="0">Incapaz de hacerlo</mat-option>
                <mat-option value="2">Intenta pero inseguro</mat-option>
                <mat-option value="5">Alguna Ayuda</mat-option>
                <mat-option value="8">Minima Ayuda</mat-option>
                <mat-option value="10">Independiente</mat-option>                   
              </mat-select>
            </mat-form-field>

            <mat-form-field >
              <mat-select [(value)]="MiccionSelected" (change)="onSelectChange($event)" placeholder="Miccion">
                <mat-option value="0">Incapaz de hacerlo</mat-option>
                <mat-option value="2">Intenta pero inseguro</mat-option>
                <mat-option value="5">Alguna Ayuda</mat-option>
                <mat-option value="8">Minima Ayuda</mat-option>
                <mat-option value="10">Independiente</mat-option>                   
              </mat-select>
            </mat-form-field>

            <mat-form-field >
              <mat-select [(value)]="CaminarSelected" (change)="onSelectChange($event)" placeholder="Caminar">
                <mat-option value="0">Incapaz de hacerlo</mat-option>
                <mat-option value="2">Intenta pero inseguro</mat-option>
                <mat-option value="10">Alguna Ayuda</mat-option>
                <mat-option value="14">Minima Ayuda</mat-option>
                <mat-option value="15">Independiente</mat-option>                   
              </mat-select>
            </mat-form-field>

            <mat-form-field >
              <mat-select [(value)]="TrasladoSillaSelected" (change)="onSelectChange($event)" placeholder="Traslado Silla Cama">
                <mat-option value="0">Incapaz de hacerlo</mat-option>
                <mat-option value="2">Intenta pero inseguro</mat-option>
                <mat-option value="10">Alguna Ayuda</mat-option>
                <mat-option value="14">Minima Ayuda</mat-option>
                <mat-option value="15">Independiente</mat-option>                   
              </mat-select>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Comentario" name="comentario_val" [(ngModel)] = "Observaciones_val"></textarea>
              </mat-form-field>
        </div>
</div>
<div>
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="SaveValoracion()">Guardar</button>
</div>

  </mat-tab>
  
</mat-tab-group>


